:root {
  --primary-color: #009688;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3d;
  --header-height: 120px;
  --navbar-height: 34px;
}